<!-- Author -->
<div class="contrast-color rounded-3xl overflow-hidden shadow-xl w-full my-3">
  <div class="flex justify-center">
    <img src="{{ author.avatar }}" class="rounded-full">
  </div>
  <div class="text-center px-3 pb-6">
    <h3>{{ author.name }}</h3>
    <div class="flex justify-center text-xs leading-normal mt-0 mb-2 font-semibold uppercase">
      {% heroicon "solid", "location-marker" %}
      <p class="pl-1">{{ author.location }}</p>
    </div>
    <p class="mt-2 font-sans font-light">{{ author.bio }}</p>
  </div>
  {% include "socials.html" %}
</div>