<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <title>
      {% if title %}{{ title }} ~ {% endif %}{% if category %}{{ category }} ~ {% endif %}{{ site.title }}
    </title>
    <meta name="description" content="{{ summary }}" />
    <link rel="stylesheet" href="/assets/tailwind.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="bg-green-200 dark:bg-green-900 flex flex-col min-h-screen">
      {% include "nav.html" %}
    <div class="reader-bar-start flex-grow">
      {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
    
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
