{% extends "base.html" %} {% block content %}
<div class="contrast-colors rounded px-4 py-16 mx-auto sm:px-6 sm:py-12 lg:max-w-5xl lg:py-20 lg:px-8 xl:max-w-6xl mb-6 text-center">
  <p class="mb-2 text-xs font-semibold tracking-wide text-gray-600 uppercase">
    {{ category }}
  </p>
  <p class="mb-2 text-xs font-semibold tracking-wide uppercase">
    Last Updated: <time datetime="{{ date | dateIso }}">{{ post.date | dateReadable }}</time> ~ {{ content | emojiReadTime }}
  </p>
  <div class="mx-auto max-w-xl mb-5 md:mx-auto lg:max-w-2xl">
    <div class="mb-4">
      <h1 class="inline-block max-w-lg font-sans text-3xl font-extrabold leading-none tracking-tight text-transition">
        {{ title }}
      </h1>
    </div>
  </div>
</div>

<div class="contrast-colors rounded max-w-2xl mx-auto sm:px-6 sm:py-12 lg:max-w-3xl lg:py-16 lg:px-8 xl:max-w-4xl">
  <div class="prose dark:prose-dark prose-sm lg:prose-lg xl:prose-xl px-4 mx-auto">

    {{ content | safe }}

    {% readerBar "4px", "#FECACA", "#3B82F6" %}
    
  </div>
</div>

<nav class="m-4 flex justify-center">
  <div class="btn group-btn-start rounded-tl-md">
    <a href="{{ prev }}" class="text-transition">Previous</a>
  </div>
  <div class="btn group-btn-end rounded-tr-md">
    <a {% if next %}href="{{ next }}" class="text-transition"{% else %}class="opacity-25"{% endif %}>Next</a>
  </div>
</nav>

{% endblock %}
