<div class="relative rounded-xl overflow-auto pb-8">
  <div class="overflow-hidden relative max-w-lg mx-auto bg-gray-300 shadow-lg rounded-xl flex items-center gap-6">
    <img class="absolute -left-6 w-auto h-full rounded-r-full shadow-lg" src="{% if item.data.image %}{{ item.data.image }}{% else %}https://via.placeholder.com/350{% endif %}" alt="{{ item.data.title }}'s profile" />
    <div class="min-w-0 py-6 pl-36 pr-3 md:pl-40 lg:pl-48 xl:pl-52 2xl:pl-56">
      <h3 id="{{ item.data.title | slugify }}" class="truncate">{{ item.data.title }}</h3>
      <div class="font-medium text-sm sm:text-base leading-tight truncate">{{ item.data.occupation }}</div>
      <div class="font-medium text-sm sm:text-base leading-tight">
        <a href="{{ item.url }}">View</a>
      </div>
    </div>
  </div>
</div>