---
layout: 'post.html'
---

{% if image %}<img src="{{ image }}" alt="{{ title }}'s image" class="cover">{% endif %}

<h2>Appearance</h2>
<table class="table-auto">
  <tbody>{% for appearance in appearance %}
    <tr>
      <td class="font-bold">Height:</td>
      <td>{{ appearance.height }}</td>
    </tr>
    <tr>
      <td class="font-bold">Hair color:</td>
      <td>{{ appearance.hair }}</td>
    </tr>
    <tr>
      <td class="font-bold">Eye color:</td>
      <td>{{ appearance.eye }}</td>
    </tr>
    <tr>
      <td class="font-bold">Build:</td>
      <td>{{ appearance.build }}</td>
    </tr>
    <tr>
      <td class="font-bold">Features:</td>
      <td>{{ appearance.features }}</td>
    </tr>
    <tr>
      <td class="font-bold">Accessories:</td>
      <td>{{ appearance.accessories }}</td>
    </tr>
    <tr>
      <td class="font-bold">Grooming:</td>
      <td>{{ appearance.grooming }}</td>
    </tr>
    <tr>
      <td class="font-bold">Health:</td>
      <td>{{ appearance.health }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Relationships</h2>
<table class="table-auto">
  <tbody>{% for relationships in relationships %}
    <tr>
      <td class="font-bold">Father:</td>
      <td>{{ relationships.father or 'unknown' }}</td>
    </tr>
    <tr>
      <td class="font-bold">Mother:</td>
      <td>{{ relationships.mother or 'unknown' }}</td>
    </tr>
    <tr>
      <td class="font-bold">Siblings:</td>
      <td>{% set comma = joiner() %}{% for siblings in relationships.siblings %}{{ comma() }} {{ siblings }}{% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Re-Story</h2>
<table class="table-auto">
  <tbody>
    <tr>
      <td class="font-bold">Character Type:</td>
      <td>{{ type }}</td>
    </tr>
    <tr>
      <td class="font-bold">Role:</td>
      <td>{% set comma = joiner() %}{% for role in role %}{{ comma() }} {{ role }}{% endfor %}</td>
    </tr>
    <tr>
      <td class="font-bold">Age:</td>
      <td>{{ age }}</td>
    </tr>
    <tr>
      <td class="font-bold">Nationality:</td>
      <td>{{ nationality }}</td>
    </tr>
    <tr>
      <td class="font-bold">Occupation:</td>
      <td>{{ occupation }}</td>
    </tr>
    <tr>
      <td class="font-bold">Psychology</td>
      <td>{% set comma = joiner() %}{% for psych in psych %}{{ comma() }} {{ psych }}{% endfor %}</td>
    </tr>
    <tr>
      <td class="font-bold">Biggest Flaw</td>
      <td>{{ flaw }}</td>
    </tr>
    <tr>
      <td class="font-bold">Biggest Strength</td>
      <td>{{ strength }}</td>
    </tr>
    <tr>
      <td class="font-bold">Biggest Fear</td>
      <td>{{ fear }}</td>
    </tr>
    <tr>
      <td class="font-bold">Story Goal</td>
      <td>{{ goal }}</td>
    </tr>
    <tr>
      <td class="font-bold">Motivation</td>
      <td>{{ motivation }}</td>
    </tr>
  </tbody>
</table>

<h2>Bio</h2>
{{ content | safe }}