{% extends "base.html" %} {% block content %}
<div class="contrast-colors rounded px-4 py-16 mx-auto sm:px-6 sm:py-12 lg:max-w-5xl lg:py-16 lg:px-8 xl:max-w-6xl mb-6">
  <div class="mx-auto max-w-xl mb-5 md:mx-auto sm:text-center lg:max-w-2xl">
    <div class="mb-4">
      <p class="text-base md:text-lg semibold">
        <a href="/books/{{ category | slugify }}">{{ category }}</a>
      </p>
      <h1 class="inline-block max-w-lg font-sans text-3xl font-extrabold leading-none tracking-tight text-transition sm:text-4xl">
        {{ title }}
      </h1>
    </div>
  </div>
</div>

<div class="contrast-colors rounded max-w-2xl mx-auto sm:px-6 sm:py-12 lg:max-w-3xl lg:py-16 lg:px-8 xl:max-w-4xl">
  <div class="prose dark:prose-dark prose-sm lg:prose-lg xl:prose-xl px-4 mx-auto">
      {% if image %}<img src="{{ image }}" alt="{{ title }}'s image" class="cover">{% endif %}

      <h2>Appearance</h2>
      <table class="table-auto">
        <tbody>{% for appearance in appearance %}
          <tr>
            <td class="font-bold">Height:</td>
            <td>{{ appearance.height }}</td>
          </tr>
          <tr>
            <td class="font-bold">Hair color:</td>
            <td>{{ appearance.hair }}</td>
          </tr>
          <tr>
            <td class="font-bold">Eye color:</td>
            <td>{{ appearance.eye }}</td>
          </tr>
          <tr>
            <td class="font-bold">Build:</td>
            <td>{{ appearance.build }}</td>
          </tr>
          <tr>
            <td class="font-bold">Features:</td>
            <td>{{ appearance.features }}</td>
          </tr>
          <tr>
            <td class="font-bold">Accessories:</td>
            <td>{{ appearance.accessories }}</td>
          </tr>
          <tr>
            <td class="font-bold">Grooming:</td>
            <td>{{ appearance.grooming }}</td>
          </tr>
          <tr>
            <td class="font-bold">Health:</td>
            <td>{{ appearance.health }}</td>
          </tr>
        {% endfor %}</tbody>
      </table>
      <h2>Relationships</h2>
      <table class="table-auto">
        <tbody>{% for relationships in relationships %}
          <tr>
            <td class="font-bold">Father:</td>
            <td>{{ relationships.father or 'unknown' }}</td>
          </tr>
          <tr>
            <td class="font-bold">Mother:</td>
            <td>{{ relationships.mother or 'unknown' }}</td>
          </tr>
          <tr>
            <td class="font-bold">Siblings:</td>
            <td>{% set comma = joiner() %}{% for siblings in relationships.siblings %}{{ comma() }} {{ siblings }}{% endfor %}</td>
          </tr>
        {% endfor %}</tbody>
      </table>
      <h2>Re-Story</h2>
      <table class="table-auto">
        <tbody>
          <tr>
            <td class="font-bold">Character Type:</td>
            <td>{{ type }}</td>
          </tr>
          <tr>
            <td class="font-bold">Role:</td>
            <td>{% set comma = joiner() %}{% for role in role %}{{ comma() }} {{ role }}{% endfor %}</td>
          </tr>
          <tr>
            <td class="font-bold">Age:</td>
            <td>{{ age }}</td>
          </tr>
          <tr>
            <td class="font-bold">Nationality:</td>
            <td>{{ nationality }}</td>
          </tr>
          <tr>
            <td class="font-bold">Occupation:</td>
            <td>{{ occupation }}</td>
          </tr>
          <tr>
            <td class="font-bold">Psychology</td>
            <td>{% set comma = joiner() %}{% for psych in psych %}{{ comma() }} {{ psych }}{% endfor %}</td>
          </tr>
          <tr>
            <td class="font-bold">Biggest Flaw</td>
            <td>{{ flaw }}</td>
          </tr>
          <tr>
            <td class="font-bold">Biggest Strength</td>
            <td>{{ strength }}</td>
          </tr>
          <tr>
            <td class="font-bold">Biggest Fear</td>
            <td>{{ fear }}</td>
          </tr>
          <tr>
            <td class="font-bold">Story Goal</td>
            <td>{{ goal }}</td>
          </tr>
          <tr>
            <td class="font-bold">Motivation</td>
            <td>{{ motivation }}</td>
          </tr>
        </tbody>
      </table>

    <h2>Bio</h2>
    {{ content | safe }}

    {% readerBar "4px", "#047857", "#34D399" %}

  </div>
</div>
{% endblock %}