<footer class="contrast-colors mt-10 grid py-2 sm:grid-cols-3 items-center font-medium tracking-wide text-center">
  <div class="p-2">
    <p class="text-transition">
      &copy; 2019-22 An Aspiring Writer's Haven
    </p>
  </div>
  <div class="p-2">
    <p>
      Created using <a href="https://www.11ty.dev/">11ty</a>, <a href="https://tailwindcss.com/">TailwindCSS</a>, <a href="https://netlify.app">Netlify</a>, and <a href="https://github.com">GitHub</a>
    </p>
  </div>
  <div class="p-2">
    <p>
      Maintained with <a href="https://netlifycms.org">NetlifyCMS</a> and <a href="https://">VS Code</a>
    </p>
  </div>
</footer>