<nav class="flex justify-center pb-16">
  <div class="inline-flex shadow-xl capitalize">
    <a href="{{ site.baseurl }}" class="btn group-btn-start">
      home
    </a>
    <a href="https://aspiring-writer.notion.site/Book-Drafts-f1bb317a439f4e53a260ce933807bca2" class="btn" target="_blank">
      books
    </a>
    <a href="/series/" class="btn">
      series
    </a>
    <a href="/tags/" class="btn">
      tags
    </a>
    <a href="/posts/" class="btn">
      archive
    </a>
  </div>
</nav>