<nav class="flex justify-center pb-10">
  <div class="inline-flex">
    <a href="{{ site.baseurl }}" class="btn group-btn group-btn-start capitalize">
      home
    </a>
    <a href="/books/" class="btn group-btn capitalize">
      books
    </a>
    <a href="/series/" class="btn group-btn capitalize">
      series
    </a>
    <a href="/tags/" class="btn group-btn capitalize">
      tags
    </a>
    <a href="/posts/" class="btn group-btn group-btn-end capitalize">
      archive
    </a>
  </div>
</nav>