<nav class="flex justify-center pb-8 border-t-4 border-red-200">
  <div class="inline-flex shadow-xl capitalize">
    <div class="btn group-btn-start">
      <a href="/" class="text-transition">
        home
      </a>
    </div>
    <div class="btn">
      <a href="/books/" class="text-transition">
        books
      </a>
    </div>
    <div class="btn">
      <a href="/posts/" class="text-transition">
        archive
      </a>
    </div>
    <div class="btn group-btn-end">
      <a href="/tags/" class="text-transition">
        tags
      </a>
    </div>
  </div>
</nav>