<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="mb-10 border-t border-b divide-y">
    {% for item in pagination.items %}
    <div class="grid py-8 sm:grid-cols-4">
      <div class="mb-4 sm:mb-0">
        <div class="contrast-colors bg-gradient-to-l p-2 rounded md:rounded-r-none space-y-1 text-xs font-semibold text-center md:text-left tracking-wide uppercase">
          <a href="/tags/{{ item.data.category | slugify }}" class="text-transition" aria-label="Category">{{ item.data.category }}</a>
          <p>
            <time datetime="{{ date | dateIso }}">{{ item.date | dateReadable }}</time>
          </p>
        </div>
      </div>
      <div class="contrast-colors p-2 rounded md:rounded-t-none sm:col-span-2 text-center">
        <div class="mb-3">
          <a href="{{ item.url }}" aria-label="Article" class="inline-block text-transition">
            <p class="text-3xl font-extrabold leading-none sm:text-4xl xl:text-4xl">
              {{ item.data.title }}
            </p>
          </a>
        </div>
        {% excerpt item %}
      </div>
      <div class="mt-4 sm:mt-0">
        <div class="contrast-colors bg-gradient-to-l p-2 rounded md:rounded-l-none space-y-1 text-sm font-semibold text-center md:text-right tracking-wide">
          {% for tag in item.data.tags %}<a href="/tags/{{ tag | slugify }}" class="text-transition" aria-label="Tag">#{{ tag }} </a>{% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="/posts/" class="inline-flex items-center btn rounded">
      <span class="text-transition">See all articles</span>
      <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
        <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
      </svg>
    </a>
  </div>
</div>