<div class="flex items-center justify-between">
  <h2 class="text-xl font-bold text-gray-700 md:text-2xl">Posts</h2>
</div>
{% for item in pagination.items %}
<div class="mt-6">
  <div
    class="max-w-4xl px-10 py-6 mx-auto contrast-colors rounded-lg shadow-md"
  >
    <div class="flex items-center justify-between">
      <span class="font-light text-gray-600">
        <time datetime="{{ item.date | htmlDateString }}">{{
          item.date | readableDate
        }}</time>
      </span>
      <a
        href="/tags/{{ item.data.category | slugify }}"
        class="px-2 py-1 font-bold rounded"
        >{{ item.data.category }}</a
      >
    </div>
    <div class="mt-2">
      <a
        href="{{ item.url }}"
        class="text-2xl font-bold text-gray-700 hover:underline"
        >{{ item.data.title }}</a
      >
      <p class="mt-2 text-gray-600">{{ item.data.excerpt }}</p>
    </div>
    <div class="flex items-center justify-between mt-4">
      <a href="{{ item.url }}" class="text-blue-500 hover:underline"
        >Read more</a
      >
      <!--<div>
        <a href="#" class="flex items-center">
          <img src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=731&amp;q=80"
            alt="avatar" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block">
          <h1 class="font-bold text-gray-700 hover:underline">Alex John</h1>
        </a></div>-->
    </div>
  </div>
</div>
{% endfor %}
