<div class="contrast-colors rounded px-4 py-16 mx-auto sm:px-6 sm:py-12 lg:max-w-5xl lg:py-16 lg:px-8 xl:max-w-6xl mb-6">
  <p class="mb-2 text-xs font-semibold tracking-wide uppercase text-center">
    <time datetime="{{ date | dateIso }}">{{ post.date | dateReadable }}</time>
    {% if updated %}~ Last Updated: <time datetime="{{ date | dateIso }}">{{ post.data.updated | dateReadable }}</time>{% endif %}
  </p>
  <div class="mx-auto max-w-xl mb-5 md:mx-auto text-center lg:max-w-2xl">
    <div class="mb-4">
      <h1 class="inline-block max-w-lg font-sans text-3xl font-extrabold leading-none tracking-tight text-transition sm:text-4xl">
        {{ title }}
      </h1>
    </div>
    {% if tags %} 
    <p class="text-base md:text-lg semibold">
      {% for tag in tags %}<a href="/tags/{{ tag | slugify }}" aria-label="Tag">#{{ tag }} </a>{% endfor %}
    </p>
    {% endif %}
  </div>
  {% if author %}
  <div class="mb-10 text-center">
    <p class="inline-block mb-1">
      <img alt="avatar" src="{{ author.avatar }}" class="object-cover w-16 h-16 rounded-full shadow-sm" />
    </p>
    <div>
      <p class="font-semibold text-transition">{{ author.name }}</p>
      <p class="text-sm font-medium leading-4">Author</p>
    </div>
  </div>
  {% endif %}
  <p class="mb-2 text-sm font-semibold tracking-wide text-center">
    ~ {{ content | emojiReadTime }} ~
  </p>
</div>