{% extends "base.html" %} {% block content %}
<div class="contrast-colors rounded px-4 py-16 mx-auto sm:px-6 sm:py-12 lg:max-w-5xl lg:py-16 lg:px-8 xl:max-w-6xl mb-6">
  <p class="mb-2 text-xs font-semibold tracking-wide uppercase sm:text-center">
    <time datetime="{{ date | dateIso }}">{{ post.date | dateReadable }}</time> ~ {{ content | emojiReadTime }}
  </p>
  <div class="mx-auto max-w-xl mb-5 md:mx-auto sm:text-center lg:max-w-2xl">
    <div class="mb-4">
      <h1 class="inline-block max-w-lg font-sans text-3xl font-extrabold leading-none tracking-tight text-transition sm:text-4xl">
        {{ title }}
      </h1>
    </div>
    <p class="text-base md:text-lg">
      {{ summary }}
    </p>
  </div>
  <div class="mb-10 sm:text-center">
    <a href="/" aria-label="Author" class="inline-block mb-1">
      <img alt="avatar" src="{{ author.avatar }}" class="object-cover w-16 h-16 rounded-full shadow-sm" />
    </a>
    <div>
      <a href="/" aria-label="Author" class="font-semibold text-transition">{{ author.name }}</a>
      <p class="text-sm font-medium leading-4">Author</p>
    </div>
  </div>
</div>

<div class="contrast-colors rounded max-w-2xl mx-auto sm:px-6 sm:py-12 lg:max-w-3xl lg:py-16 lg:px-8 xl:max-w-4xl">
  <div class="prose dark:prose-dark prose-sm lg:prose-lg xl:prose-xl px-4 mx-auto">

    {% if review %}
      {% include "review-stats.html" %}
    {% endif %}

    {% if toc == true %}
    <!--TOC-->
    <section class="card card-float-left">
      <div class="leading-relaxed font-semibold pb-3">
        {{ content | toc | safe }}
      </div>
    </section>
    {% endif %}

    <!--Post-->
    {{ content | safe }}

    {% readerBar "4px", "#047857", "#34D399" %}
    
  </div>
</div>
{% endblock %}
