<!-- Review Stats -->
<section class="w-full pb-2 md:w-3/5 md:mx-auto md:float-right md:pl-5">
  <div class="bg-red-300 rounded-md px-4 shadow-md hover:shadow-lg transition">
    <div class="leading-relaxed font-semibold">
      <p class="text-center pt-4">Review Stats</p>
      <img src="{{ review.image }}" alt="media image" class="w-full rounded-md md:w-4/5 md:mx-auto">
      <table class="table-fixed">
        <tbody>
          {% if review.movie == true %}
          <tr>
            <td class="w-1/4">{% heroicon "outline", "film" %}</td>
            <td class="w-3/4">{{ review.title }}</td>
          </tr>
          <tr>
            <td>{% heroicon "outline", "user-group" %}</td>
            <td>
              <span class="font-bold">Director:</span> {{ review.director }}<br>
              <span class="font-bold">Producer:</span> {{ review.producer }}<br>
              <span class="font-bold">Actors:</span> {{ review.actors }}
            </td>
          </tr>
          {% else %}
          <tr>
            <td class="1/4">{% heroicon "outline", "book-open" %}</td>
            <td class="3/4">{{ review.title }}</td>
          </tr>
          <tr>
            <td>{% heroicon "outline", "user" %}</td>
            <td>{{ review.author }}</td>
          </tr>
          {% endif %}
          <tr>
            <td>{% heroicon "outline", "calendar" %}</td>
            <td>Released on {{ review.released }}</td>
          </tr>
          {% if review.series %}
          <tr>
            <td>{% heroicon "outline", "collection" %}</td>
            <td>{{ review.series }}</td>
          </tr>
          {% endif %}
          <tr>
            <td>{% heroicon "outline", "clock" %}</td>
            <td>{{ review.start }} - {% if review.end %}{{ review.end }}{% else %}present{% endif %}</td>
          </tr>
          <tr>
            <td>{% heroicon "outline", "star" %}</td>
            <td>{{ review.rating }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>