<div x-data="{ 
          collapseButton: false,
          focusClass: 'focus:ring-2 focus:outline-none focus:ring-purple-600 rounded-md'
        }" class="p-6 mx-auto rounded">
  <div>
    <button @click="collapseButton = ! collapseButton" :class="collapseButton === true ? focusClass : ''"
      class="px-4 py-2 bg-purple-600 text-green-300 font-semibold">
      Table of Contents
    </button>
    <div x-show="collapseButton" :class="collapseButton === true ? focusClass : ''"
      class="p-4 shadow bg-green-300 border-2 border-purple-600" x-collapse.duration.1000ms>
      {{ content | toc | safe }}
    </div>
  </div>
</div>