---
eleventyExcludeFromCollections: true
layout: 'home.html'
title: 'Court of Shadows and Fury'
pagination:
  data: collections.books
  size: 100
---
<div class="flex justify-center w-4/5 mx-auto">
  <img src="/assets/covers/cosaf.jpg">
</div>

<div class="contrast-color rounded-lg p-2">
  <ul>
  {% for item in pagination.items %}{% if item.data.book == 'Court of Shadows and Fury' %}
    <li>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </li>
  {% endif %}{% endfor %}
  </ul>
</div>
