---
eleventyExcludeFromCollections: true
layout: "home.html"
summary: 'Follow along as I write my heart out and explore the unknown depths of my imagination.'
pagination:
  data: collections.blog
  size: 7
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html"
---

{% for item in pagination.items %}
{% include 'posts-list.html' %}
{% endfor %}

{% if pagination.href.next or pagination.href.previous %}
<nav class="flex justify-center text-center pt-10">
  <div class="inline-flex" aria-label="Pagination links">
    {% if page.url != pagination.href.first %}
    <a href="{{ pagination.href.first }}" class="btn group-btn-start">First</a>
    {% endif %}
    {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="btn group-btn" data-direction="backwards">
      <span>Previous</span>
    </a>
    {% endif %}
    {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="btn group-btn" data-direction="forwards">
      <span>Next</span>
    </a>
    {% endif %}
    {% if page.url != pagination.href.last %}
    <a href="{{ pagination.href.last }}" class="btn group-btn-end">Last</a>
    {% endif %}
  </div>
</nav>
{% endif %}
