---
layout: base.html
title: "Tags' List"
---

{% include 'header.html' %}
<div class="overflow-x-hidden main-colors">
  <div class="px-6 py-8">
    <div class="container flex justify-center mx-auto">
      <div class="max-w-md px-4 py-6 contrast-colors rounded-lg shadow-md">
        <ul>
          {% for tag in collections.tagList %}{% set tagUrl %}/tags/{{
            tag | slugify
          }}/{% endset %}
          <li class="my-2">
            <a href="{{ tagUrl | url }}" class="mx-1 font-bold"
              >- {{ tag }}
              <span class="text-base">({{ collections[tag].length }})</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
